@import "_variables.scss";

html{
    font-size: 62.5%;
    padding: 0rem;
    margin-top: 0rem;
    box-sizing: border-box;
}

.header {
    position: relative;
    height: 100vh;
}
.cooltone {
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title1 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    z-index:2;
}