html{
    font-size: 62.5%;
    padding: 0rem;
    margin-top: 0rem;
    box-sizing: border-box;
}

.word-container {
    display: flex;
    transform: translateY(30rem);
    letter-spacing: .75rem;
    font-size: 4rem;
    justify-content: space-evenly;
    z-index:2;
    
  }