@import "_variables.scss";

html{
    font-size: 62.5%;
    padding: 0rem;
    margin-top: 0rem;
    box-sizing: 0rem;
}

.logo{
    position: absolute;
    display: block;
    margin-left: 85rem;
    margin-right: 16rem;
    top: 4rem;
    width: 20rem;
}